.rhd-instagrabby-container
	width 100%
	position relative

	.rhd-instagrabby
		width 100%
		height auto
		position relative
		overflow hidden
		list-style none
		padding 0
		margin 0
		text-align left

		li
			display inline-block

		.rhd-instagrabby-icon
			img
				width auto
				height auto

	.rhd-instagrabby-pager
		width 100%
		height 100%
		position absolute
		top 0
		left 0
		z-index 200
		opacity 0

		a
			width auto
			height 100%
			display block
			background-size contain
			position absolute
			top 0

			img
				display block

		.cycle-prev
			left 0

		.cycle-next
			right 0